name: Unit Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest # You can change the runner to something else if needed

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: "1.24.11"

      - name: Run Unit Tests
        run: |
          go test -v ./...  # Run all tests in the repository
